<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Participant Registration</title>
</head>

<body>
  <!-- page content -->
  <h1>Thank You For Registering</h1>
  <h3>as Participant on Ear 20<sup>th</sup> Anniversary</sup></h3>
  <br />
  <br />
  <p>
    Dear {{ name }} from {{ country }}, <br/> 
    You are successfully regeisterd for Joint program of International Conference on Radioscience, Equatorial
    Atmospheric Science and Environment (INCREASE) and The 6th Asia Research Node (ARN) Symposium on Humanosphere
    Science
  </p>
  <p>
    for mor information, please visit <a href="https://ear20.lapan.go.id">https://ear20.lapan.go.id</a>
    <br/>
    <b>DO NOT REPLY TO THIS EMAIL,</b> please contact us at <a href="https://ear20.lapan.go.id">https://ear20.lapan.go.id</a>
  </p>
</body>

</html>