<!DOCTYPE html>
<html>

<head>
  <title>
    <%= productDescription %>
  </title>

  <meta charset="utf-8">
  <!-- <meta name="description" content="<%= productDescription %>"> -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://ear20.lapan.go.id/">
  <meta property="og:description" content="Equatorial Atmosphere Radar (EAR) 
    20th Anniversary
    LAPAN - Kyoto University 
    International Symposium for Equatorial Atmosphere">
  <meta property="og:title" content="Ear 20th Anniversary">
  <meta property="og:image" content="https://ear20.lapan.go.id/img/radar.7d21f604.gif">


  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://ear20.lapan.go.id/">
  <meta property="twitter:title" content="Ear 20th Anniversary">
  <meta property="twitter:description" content="Equatorial Atmosphere Radar (EAR) 
  20th Anniversary
  LAPAN - Kyoto University 
  International Symposium for Equatorial Atmosphere">
  <meta property="twitter:image" content="https://ear20.lapan.go.id/img/radar.7d21f604.gif">


  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport"
    content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

  <meta name="google-site-verification" content="pgGyHTbX1qn-VwcnNC8MkWe2tcAqz2T4WS9EdY5BYNo" />
  <link rel="icon" type="image/png" sizes="128x128" href="favicomatic/favicon-128x128.png">
  <link rel="icon" type="image/png" sizes="96x96" href="favicomatic/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicomatic/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicomatic/favicon-16x16.png">
  <link rel="icon" type="image/ico" href="favicon.ico">
</head>

<body>
  <!-- DO NOT touch the following DIV -->
  <div id="q-app"></div>
</body>

</html>